@use '../../../styles/base/variables.scss' as *;
@use '../../../styles/base/mixins.scss' as *;
@use "sass:color";
// Estilo para la página de detalles de la epic
.epic-details-page {
  max-width: 800px;
  margin-top: 10%;
  margin: 0 auto; // Centra el contenido
  padding: 20px;
  background-color: $background-light; // Fondo claro
  border-radius: $border-radius; // Bordes redondeados
  box-shadow: $box-shadow; // Sombra sutil
}

// Estilo para la cuadrícula de historias
.story-grid {
  display: grid; // Usa grid para organizar historias
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); // Columnas flexibles
  gap: 15px; // Espacio entre los cuadrados
  margin-top: 20px; // Espaciado superior
}

// Estilo para cada tarjeta de historia
.story-card {
  background-color: $background-light; // Fondo blanco
  border: 1px solid $hover-light; // Borde gris claro
  border-radius: $border-radius; // Bordes redondeados
  padding: 15px; // Espaciado interno
  box-shadow: $box-shadow; // Sombra sutil
  @include transition(transform 0.2s); // Animación al pasar el ratón
  display: flex; // Flexbox para alinear contenido
  flex-direction: column; // Alinea elementos en columna
  justify-content: space-between; // Espacio entre elementos
}

// Efecto al pasar el ratón
.story-card:hover {
  transform: scale(1.05); // Escala un poco al pasar el ratón
}

// Estilos para títulos y descripciones de la historia
.story-card h4 {
  margin: 0; // Elimina márgenes
  font-size: 1.2rem; // Tamaño del título
  color: $text-dark; // Color del título
}

.story-card p {
  margin: 0; // Elimina márgenes
  font-size: 0.9rem; // Tamaño de la descripción
  color: $text-light; // Color gris para la descripción
}

// Botón de regreso
.back-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: $primary-color; // Color principal
  color: $text-white; // Texto blanco
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  @include transition(background-color 0.3s ease); // Transición suave

  &:hover {
    background-color: $primary-dark; // Color más oscuro al pasar el ratón
  }

  &:active {
    
    background-color: color.scale($primary-dark, $lightness: -10%);

    
  }
}
