// Colores base
$primary-color: #007bff;
$primary-dark: #0056b3;
$secondary-color: #f4f4f9;
$background-light: #ffffff;
$text-dark: #333;
$text-light: #666;
$text-white: #ffffff;
$hover-light: rgba(0, 0, 0, 0.1);
$background-secondary: #f0f4f8; // Fondo claro adicional
$primary-darker: #004085; // Azul más oscuro
$text-muted: #aaa; // Gris claro para texto sutil
$background-light: #ffffff; // Fondo claro



// Tipografías
$font-family: 'Arial', sans-serif;
$font-size-base: 16px;

// Bordes y sombras
$border-radius: 8px;
$box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
